# macOS
.DS_Store

# Build / Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/

# Docker
docker-compose.override.yml
docker-data/
logs/
temp/

# Spring Boot – arquivos sensíveis
*.log
*.bak
application.properties
application-dev.properties
application-prod.properties
application-*.yml
application-*.properties
.env
.env.*

# Test / temporários
*.db
*.sqlite
*.tmp
*.swp
*.pid
*.seed
*.cache
*.java~
*.class

# Compilação / empacotamento
*.jar
*.war
*.ear

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
